.container {
    background-color: rgb(48, 46, 46);
    width: 400px;
    /* 设置容器的宽度 */
    height: 400px;
    /* 设置容器的高度 */
    overflow: hidden;
    /* 隐藏溢出的内容 */
    object-position: center;
}

img {
    width: 100%;
    /* 设置图片的宽度为容器的宽度 */
    height: 100%;
    /* 设置图片的高度为容器的高度 */
    object-fit: contain;
    /* 将图片自适应大小，并完全显示内容 */
    object-position: center;
    /* 将图片置于容器的中心位置 */
}